page-login {
    .my-form {
        margin: 0 auto;
    }
    .my-btn {
        margin: 30px auto;
    }
    @media (min-width: 767px) {
        .my-btn {
            max-width: 240px;
        }
    
        .my-form{
            max-width: 320px;
        }
    }
}

