page-login {
    .my-form {
        margin: 0 auto;
    }
    .my-btn {
        margin: 30px auto;
    }
    .background {
        width: 100%;
        height: 100%;

    }
    .scroll-content{
        text-align: center;
    }
    ion-card{
      position: center;
    }
    ion-card.card{
        background: rgba(232, 230, 230, 0.6px);
        border-radius: 10px;
        z-index: 100;

    }
    .item {
        background: rgba(232, 230, 230, 0px);
        color: black;
    }

    h1{
        font-family:  Calibri, sans-serif, roboto, noto-sans;
        font-size: 3em;
        font-weight: lighter;
        color: #5B3AB4;
  }
    .form-container{
      position: absolute;
      top: 30%;
      align-items: center;
    }

    @media (min-width: 767px) {
        .my-btn {
            max-width: 240px;
        }
    
        .my-form{
            max-width: 320px;
        }
    }
}

