<ion-header>

  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="form-container">

    <form novalidate #registerForm="ngForm" class="register-form" (ngSubmit)="register($event)">
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="user.username" name="username" (ionChange)="checkUsername()" required
          minlength="3" #username="ngModel">
        </ion-input>
      </ion-item>

      <ion-item no-lines class="text-md-danger" *ngIf='username.errors && (username.dirty || username.touched)'>
        <small *ngIf="username.errors.required">Username is required</small>
        <small *ngIf="username.errors.minlength">Username must be at least 3 charachters</small>
      </ion-item>
      <ion-item no-lines *ngIf="!username.errors">
        <small style="color:red" *ngIf="!usernameAvailable">Username not available</small>
        <small style="color:green" *ngIf="usernameAvailable">Username is available</small>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="mypassword" required minlength="5"
          #password="ngModel"></ion-input>
      </ion-item>
      <ion-item no-lines class="text-md-danger" *ngIf='password.errors && (password.dirty || password.touched)'>
        <small *ngIf="password.errors.required">Password is required</small>
        <small *ngIf="password.errors.minlength">Password must be at least 5 characters</small>
      </ion-item>
      <ion-item>
        <ion-label floating>confirm password</ion-label>
        <ion-input type="password" [(ngModel)]="user.confirmPassword" name="myconfirmPassword"
          (ionChange)="confirmPasswordFunc($event)" required minlength="5" #confirmPassword="ngModel">
        </ion-input>
      </ion-item>
      <ion-item no-lines class="text-md-danger"
        *ngIf='confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)'>
        <small *ngIf="confirmPassword.errors.required">Password confirmation is required</small>
        <small *ngIf="confirmPassword.errors.minlength">Password must be at least 5 characters</small>
      </ion-item>
      <ion-item no-lines *ngIf="!confirmPassword.errors">
        <small style="color:red" *ngIf="!passwordConfirmed">Password does not match</small>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="user.email" name="email" required #email="ngModel"
          pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
        </ion-input>
      </ion-item>
      <ion-item no-lines class="text-md-danger" *ngIf="email.errors && (email.dirty || email.touched)">
        <small *ngIf="email.errors.required">Email is required</small>
        <small *ngIf="email.errors.pattern">Please insert valid email address</small>
      </ion-item>
      <ion-item>
        <ion-label floating>Fullname</ion-label>
        <ion-input type="text" [(ngModel)]="user.full_name" name="fullname" pattern="^([A-Za-z']+(-| )?)+$"
          #fullname="ngModel" required></ion-input>
      </ion-item>
      <ion-item class="text-md-danger" *ngIf="fullname.errors && (fullname.dirty || fullname.touched)">
        <small *ngIf="fullname.errors.required">Full Name is required</small>
        <small *ngIf="fullname.errors.pattern">Please enter valid fullname</small>
      </ion-item>
      <ion-item>
        <ion-label>Interest</ion-label>
        <ion-select name="interest" multiple="true" [(ngModel)]="user.interest" required>
          <ion-option *ngFor="let c of appConstant.CATEGORY" [value]="c">{{ c }}</ion-option>
        </ion-select>
      </ion-item>
      <button ion-button block class="register-btn" color="primary" type="submit"
        [disabled]="!registerForm.form.valid">Register</button>
    </form>

    <ion-row>
      <button ion-button class="login-btn" block clear (click)="openPage(LoginPage)">Already have account?
        Login.</button>
    </ion-row>

  </div>

</ion-content>
