page-register {
  .register-form {
    margin: 0 auto;
  }
  .register-btn {
    margin: 30px auto;
  }
  .background {
    width: 100%;
    height: 100%;
    background: #5B3AB4  ;
    background: linear-gradient(360deg,  #9549ff , #5B3AB4);
  }
  .scroll-content{
    text-align: center;
  }
  ion-card.card{
    background: rgba(232, 230, 230, 0.6px);
    border-radius: 10px;
    z-index: 100;

  }
  .item {
    background: rgba(232, 230, 230, 0px);
    color: black;
  }
  .label{
    color: #000;
  }
  h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, roboto, noto-sans;
    font-size: 3em;
    font-weight: lighter;
    color: #fff;
  }
  @media (min-width: 767px) {
    .register-btn {
      max-width: 240px;
    }
  
    .register-form{
      max-width: 320px;
    }
  }
}
