page-event-detail {
  .event-container {
    margin: 0 auto;

    ion-icon {
      margin-right: 8px;
    }
  }
  .event-title {
    font-weight: 501;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
  }

  @each $size, $size-value in $screen-breakpoints {
    .event-container {
        @media (min-width: $size-value) {
            width: if($size-value < 500, 100%, 700px);
        }
    }
  }

  [col-3] {
    text-align: center;
  }

  textarea.text-input {
    border: .5px solid #dadada;
    border-radius: 5px;
  }

  .platform-mobile textarea.text-input {
    padding: 0;
  }

  .comment-btn {
    margin: 15px auto;
    border-radius: 5px;
  }

}
