page-event-detail {
  .event-container {
    margin: 0 auto;

    ion-icon {
      margin-right: 8px;
    }
  }
  .event-title {
    font-weight: 401;
    font-size: 1.6rem;
    margin: 0 auto;
    text-align: center;
  }

  @each $size, $size-value in $screen-breakpoints {
    .event-container {
        @media (min-width: $size-value) {
            width: if($size-value < 500, 100%, 700px);
        }
    }
  }

  .comment {
    padding-left: 0;
  }

}
