page-edit-profile {
    .container {
        .item-md ion-avatar img {
            margin: 0 auto;
            width: 128px;
            height: 128px;
          }
    }
    .overlay-btn {
        position: absolute;
        top: calc(50% - 32px);
        left: calc(50% - 50px);
        text-align: center;
        display: inline-block;
        width: 100px;
    }

    .upload-btn {
        width: 100px;
        margin: 10px auto;
    }

}
