<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openPopover($event, subComponents.profileContextMenu)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="user-info">
    <ion-item no-lines>
      <ion-avatar>
        <img class="profile-image"
          [src]=" 'http://media.mw.metropolia.fi/wbma/uploads/' + ( user.avatar || 'ab6e8a71b39981a6422125f476d40005-tn160.png' )"
          alt="profile image">
      </ion-avatar>
    </ion-item>
    <div class="profile-details">
      <ion-label>{{ (user.username || 'Full Name') }}</ion-label>
      <ion-label>Helsinki</ion-label>
      <ion-label>joined: 12/12/2019</ion-label>
    </div>
    <ion-buttons>
        <button ion-button outline (click)="openPage(editProfilePage)">Edit Profile</button>
      </ion-buttons>
  </div>


  <ion-segment mode="md" [(ngModel)]="selectedSegment">
    <ion-segment-button value="OwnEvents">
      Own Events
    </ion-segment-button>
    <ion-segment-button value="Going">
      Going
    </ion-segment-button>
    <ion-segment-button value="Interested">
      Interested
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="selectedSegment === 'Going'">
    <event-card [events]="(eventProvider.events$ | async)"></event-card>
  </div>


  <!-- <div *ngIf="hideMe" class="alert-content">
  <ion-list>
    <ion-item class="edit-option">
      <p style="font-size: 14px!important; border-bottom: 1px solid grey;">Choose profile picture <button class="cross"
          ion-button icon-only icon-right (click)="dismiss()" clear>
          <ion-icon name="close" clear></ion-icon>
        </button></p>
      <br>
      <button
        style="background-color: rgba(0,0,0,0); color: #000000; border: none rgb(0, 0, 238);font-size: x-small; width: 80%"
        ion-button (click)="chooseFile()" accept="image/*">Choose from gallery</button>
      <br>
      <button ion-button (click)="takePhoto()" style="font-size: x-small; width:80%">Take a new photo</button>
      <br>
      <p (click)="takePhoto()">Take a new photo</p>
    </ion-item>
  </ion-list>
</div> -->

  <ion-fab bottom right>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
