page-profile {



  .alert-content{
    position: absolute;
    top: 40%;
    left: 25%;
    align-content: center;
    display: block;
    width: 90%;
    height: 50%;
    background-color: #fafafa;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  }

}
.profile-details {
    float: right;
    width: 60%;
}

.profile-image{
    float: left;
    width: 40%;
    border-radius: 400px;
    position: relative;
}
.profile-button {
  z-index: 2;
  position: absolute;
  left: 20%;
  bottom: 1%;
  background: transparent;
  color: black;
  display: block;
  height: 25%;
  width: 20%;
  border-color: transparent;

}
.edit-option{
  display: block;
  border-radius: 4px;
  width: 50%;
}

