<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openPopover($event, subComponents.profileContextMenu)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="user-info">
    <ion-item no-lines>
      <ion-avatar>
        <img class="profile-image"
          [src]=" 'http://media.mw.metropolia.fi/wbma/uploads/' + ( (authProvider.userDB | async)?.description?.avatar_id ? ((authProvider.userDB | async)?.description?.avatar_id | thumbnail: 'small' | async) : 'ab6e8a71b39981a6422125f476d40005-tn160.png' )"
          alt="profile image">
      </ion-avatar>
    </ion-item>
    <div class="profile-details">
      <div *ngIf="(authProvider.user | async) as user">
        <ion-label class="username">{{ user.username  }}</ion-label>
        <ion-label color="gray-light">{{ user.email  }}</ion-label>
        <ion-label color="gray-light">joined: {{ user.time_created | date: 'MMMM d, y' }}</ion-label>
      </div>
    </div>
    <ion-buttons>
      <button ion-button outline (click)="openPage(editProfilePage)">Edit Profile</button>
    </ion-buttons>
  </div>

<!-- segmens -->
  <ion-segment mode="md" [(ngModel)]="selectedSegment">
    <ion-segment-button value="OwnEvents">
      Own Events
    </ion-segment-button>
    <ion-segment-button value="going">
      Going
    </ion-segment-button>
    <ion-segment-button value="interested">
      Interested
    </ion-segment-button>
  </ion-segment>

  <!-- if selected segment is going -->
  <div *ngIf="selectedSegment === 'going'">
    <div class="pins">
      <div class="pin" *ngFor="let event of ((eventProvider.events$ | async) | itemFilter: joinedEventsFilter)">
        <event-card [event]="event"></event-card>
      </div>
    </div>
  </div>

  <!-- if selected segment is user own events -->
  <div *ngIf="selectedSegment === 'OwnEvents'">
    <div class="pins">
      <div class="pin" *ngFor="let event of ((eventProvider.events$ | async) | itemFilter: ownEventsFilter)">
        <event-card [event]="event"></event-card>
      </div>
    </div>
  </div>

  <!-- if selected segment is intrested -->
  <div *ngIf="selectedSegment === 'interested'">
    <div class="pins">
      <div class="pin" *ngFor="let event of ((eventProvider.events$ | async) | itemFilter: interstedEventsFilter)">
        <event-card [event]="event"></event-card>
      </div>
    </div>
  </div>

  <ion-fab bottom right>
    <button ion-fab (click)="openPage(createEventPage)">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>