<!--
  Generated template for the HomePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!-- <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar> -->
  <ion-segment [(ngModel)]="selectedSegment">

    <!-- segment -->
    <ion-segment-button value="recommended">
      Recommended
    </ion-segment-button>
    <ion-segment-button value="explore">
      Explore
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>

  <!-- If selected segment is recommended -->
  <div *ngIf="selectedSegment === 'recommended'">
    <ion-label>Based on your intereset</ion-label>
    <ion-scroll scrollX="true" style=" height: 400px;">
      <ion-row nowrap>
        <div *ngFor="let event of (eventProvider.events$ | async)">
          <ion-card style="min-width:300px; max-height:350px; height: 350px;" (click)="openEvent(event)">

            <img style="max-height: 225px; height: 225px;"
              [src]=" 'http://media.mw.metropolia.fi/wbma/uploads/' + (event.file_id | thumbnail: 'large' | async )" />

            <div style="min-height: 115px; margin: 5px 5px;">
              <ion-row>
                <ion-col col-3>
                  <ion-item>
                    <ion-avatar item-left>
                      <img
                        [src]=" 'http://media.mw.metropolia.fi/wbma/uploads/' + ( event.description.organizer.avatar_id !== undefined ? (event.description.organizer.avatar_id | thumbnail: 'small') : 'ab6e8a71b39981a6422125f476d40005-tn160.png') " />
                    </ion-avatar>
                  </ion-item>
                </ion-col>
                <ion-col col-9 class="left">
                  <h2>{{ event.title }}</h2>
                  <ion-label no-margin color="gray-light">
                    by {{ event.description.organizer !== undefined ? event.description.organizer.username : 'unkown' }}
                  </ion-label>
                </ion-col>
              </ion-row>

              <ion-card-content color="gray-light">
                {{ (event.description.details || 'no details') | excerpt: 60 }}
              </ion-card-content>
            </div>
          </ion-card>
        </div>
      </ion-row>
    </ion-scroll>
    <event-card [events]="(eventProvider.events$ | async)"></event-card>
  </div>


  <!-- If selected segment is explore -->
  <div *ngIf="selectedSegment === 'explore'">
    <div class="pins">
      <div class="pin" *ngFor="let myevent of (eventProvider.events$ | async)">
        <event-card [event]="myevent"></event-card>
      </div>
    </div>
  </div>
</ion-content>