<!-- Generated template for the EventCardComponent component -->

<ion-card class="event-card round" (click)="openEvent(event)">

  <img class="event-card-img" [src]=" 'http://media.mw.metropolia.fi/wbma/uploads/' + (event.file_id | thumbnail: 'large' | async )" />

  <div class="event-card-details">
    <ion-row>
      <ion-col col-3>
        <ion-item>
          <ion-avatar item-left>
            <img
              [src]=" 'http://media.mw.metropolia.fi/wbma/uploads/' + ( event.description.organizer.avatar_id !== undefined ? (event.description.organizer.avatar_id | thumbnail: 'small' | async) : 'ab6e8a71b39981a6422125f476d40005-tn160.png') " />
          </ion-avatar>
        </ion-item>
      </ion-col>
      <ion-col col-9 class="left">
        <h2>{{ event.title }}</h2>
        <ion-label no-margin color="gray-light">
          by {{ event.description.organizer !== undefined ? event.description.organizer.username : 'unkown' }}
        </ion-label>
      </ion-col>
    </ion-row>
  
    <ion-card-content color="gray-light">
      {{ (event.description.details || 'no details') | excerpt: 30 }}
    </ion-card-content>
  </div>

</ion-card>